
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #35bff8;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: rgb(5, 113, 137);
      color: black;
    }
    
    .topnav a.active {
      color: white;
    }
    .text{
      color: #35bff8;
    }
    .submit-control{
      width: 100%;
    }
    .verikal_center{
      /*mengatur border bagian kiri tag div */
      border-left: 6px solid black;
      /* mengatur tinggi tag div*/
      height: 200px;
      /*mengatur lebar tag div*/
      width : 2px;
     }
     .gambar{
      box-sizing: border-box;
      height: 100%;
      width:100%;
      border-radius: 50%;
     }
     
